/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/mdc-light-deeppurple/theme.css";
@import "primeng/resources/primeng.css";

.container {
    max-width: 1640px;
    margin-inline: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
