<form (ngSubmit)="onSubmit()" class="login p-card" [formGroup]="loginForm">
    <h1>Login</h1>
    <div class="p-inputgroup" *ngFor="let input of INPUTS">
        <app-input
            [required]="true"
            [type]="input.type"
            [controlName]="input.formControlName"
            [placeholder]="input.placeholder"
        />
        <app-invalid-text [field]="loginForm.get(input.formControlName)" [errors]="input.errors" />
    </div>

    <app-button type="submit" buttonStyle="width: 100%" [disabled]="loginForm.invalid">Login </app-button>
</form>
