<div class="filter-block row">
    <div class="row">
        <span>Sorting by:</span>

        <app-button class="active" (click)="onButtonClick('date')" [outlined]="true">
            Date {{ filterCriteria.date === "dateUp" ? "↑" : filterCriteria.date === "dateDown" ? "↓" : "" }}
        </app-button>

        <app-button class="actives" (click)="onButtonClick('count')" [outlined]="true">
            Count of views
            {{ filterCriteria.count === "countUp" ? "↑" : filterCriteria.count === "countDown" ? "↓" : "" }}
        </app-button>
    </div>

    <div class="row">
        <span>by word or sentance</span>
        <input type="text" pInputText [(ngModel)]="value" (input)="onINputChange()" />
    </div>
</div>
