<form (ngSubmit)="onSubmit()" class="form p-card" [formGroup]="adminForm">
    <h1>Created new card</h1>

    <div class="p-inputgroup" *ngFor="let input of INPUTS">
        <input
            required
            [type]="input.type"
            [formControlName]="input.formControlName"
            pInputText
            [placeholder]="input.label"
        />
        <app-invalid-text [field]="adminForm.get(input.formControlName)" [errors]="input.errors" />
    </div>

    <div class="tags-wrap">
        <ng-container formArrayName="tags" *ngFor="let tag of tags.controls; let i = index">
            <div class="p-inputgroup" [formGroupName]="i">
                <div class="p-inputgroup-tag">
                    <input required type="text" formControlName="tag" pInputText placeholder="Add tag" />
                    <app-button
                        severity="danger"
                        *ngIf="tags.length > 1"
                        (buttonClick)="removeTag(i)"
                        icon="pi pi-times"
                    >
                    </app-button>
                </div>
                <app-invalid-text [field]="tag.get('tag')" [errors]="ERRORS.tag" />
            </div>
        </ng-container>
        <app-button *ngIf="isTagsLength" (buttonClick)="addTag()">Add tag </app-button>
    </div>

    <div class="buttons">
        <app-button type="submit" buttonStyle="width: 100%" [disabled]="adminForm.invalid">Created card </app-button>
        <app-button buttonStyle="width: 100%" severity="warning" (buttonClick)="resetForm()" [disabled]="disableReset"
            >Reset
        </app-button>
    </div>
</form>
