<a
    *ngIf="buttonRouterLink; else buttonComponent"
    class="p-element p-ripple p-button p-component"
    [class]="classList"
    [style]="buttonStyle"
    [routerLink]="buttonRouterLink"
>
    {{ label }}
    <ng-content select="" />
</a>

<ng-template #buttonComponent>
    <button
        pButton
        pRipple
        [icon]="icon"
        [type]="type"
        [label]="label"
        [class]="classList"
        [disabled]="disabled"
        [severity]="severity"
        [outlined]="outlined"
        [style]="buttonStyle"
        (click)="onClick()"
    >
        <ng-content />
    </button>
</ng-template>
