.login-information-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: normal;
    color: #fff;
    text-decoration: none !important;
}
.row {
    gap: 0.5rem;
    align-items: center;
}
